<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <% if current_user %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Register", new_user_registration_path %>
      <%= link_to "Login", new_user_session_path %> 
    <% end %>


    <!-- If we remove yield, nothing will be yielded to the page -->
    <%= yield %>

    <%= link_to "Home", root_path %> <br>
    <%= link_to "About", about_path %> <br>
    <%= link_to "Contact", contact_path %> <br>
    <%= link_to "Blog", blogs_path %> <br>
    <%= link_to "Portfolio", portfolios_path %> <br>

    <% if session[:source] %> # This will extract the srouce using the q query and this sentence will follow people everywhere they go
    Thanks for visiting me from  <%= session[:source] %>
    <% end %>

  </body>
</html>
